* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#drum-machine {
  background-color: skyblue;
  width: 500px;
  border: 2px solid black;
  padding: 30px;
}

#display {
  background-color: white;
  color: red;
  font-weight: bold;
  margin: 10px auto;
  width: 140px;
  height: 40px;
  text-align: center;
  border: 2px solid gray;
  padding: 8px;
}

.pad-bank {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.drum-pad {
  width: 140px;
  height: 80px;
  margin-bottom: 20px;
}
